<%- include ../common/header %>
<section>
    <div class="blog_wrapper blog_wrap_indeximg">
        <div class="clearfix container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                    <h1 class="header_title">
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid admin-header-mt ">
    <h3>用户列表</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>头像</th>
            <th>文章</th>
            <th>邮箱</th>
            <th>管理员</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
</div>
</article>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<%- include ../common/footer %>